body {
    overflow-x: hidden;
}

img {
    vertical-align: top;
}

.clear {
    overflow: hidden;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.strong {
    font-weight: bold;
    color: #571869;
}

.color_red {
    font-weight: bold;
    color: red;
}

.color_blue {
    font-weight: bold;
    color: blue;
}

span.block {
    display: block;
}

.middle_dot {
    display: inline-block;
    vertical-align: middle;
    color: #8d7a9e;
    font-weight: bolder;
    font-size: 30px;
}

.blind {
    overflow: hidden;
    text-indent: -100px;
}
/***************
*** OverView ***
***************/
.overview .content {
    background: url("../img/overview/overview_bg.png") no-repeat top;
    background-size: 78%;
}

/* cont_title_wrap .cont_title 영역 */
.overview .cont_title_wrap .cont_title h2 {
    text-align: center;
    padding: 40px 0;
    background-color: #8d7a9e;
    color: #ffffff;

    font-size: 27px;
    line-height: 40px;

    font-weight: 500;
}

.usecases .cont_title_wrap .cont_title h2 {
    text-align: center;
    padding: 40px 0;
    background-color: #8d7a9e;
    color: #ffffff;

    font-size: 27px;
    line-height: 40px;

    font-weight: 500;
}


.usecases .cont_title_wrap .cont_title h2{margin-bottom: 50px; }

.overview .content_wrap {
    margin: auto;
    width: 100%;
    max-width: 850px;
    /*background-color: yellow;*/

    padding: 100px 0 200px;
}

.overview .content_wrap li {
    margin-bottom: 50px;
}

.overview .article .image_wrap,
.overview .article .text_wrap {
    display: inline-block;
    vertical-align: middle;
}

.overview .article .image_wrap img {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}

.overview .article .text_wrap {
    display: inline-block;
    vertical-align: middle;
    padding-left: 40px;
}

.overview .article p,
.overview .article span {
    font-size: 22px;
    line-height: 35px;
}

.overview .article span.block {
    text-align: center;
}

/***************
*** usecases ***
***************/
.usecases .content_wrap {
    margin: auto;
    width: 100%;
    max-width: 100%;

    padding: 0 0 100px;
}

.usecases .content_wrap li {
    width: 100%;
    background-color: #f0f2fe;

    margin-bottom: 50px;
    padding: 60px 0;
}

.usecases .content_wrap li .article {
    width: 900px;
    margin: 0 auto;
}

.usecases .article .image_wrap,
.usecases .article .text_wrap {
    display: inline-block;
    vertical-align: middle;
}

.usecases .article .image_wrap img {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
}

.usecases .article .text_wrap {
    display: inline-block;
    vertical-align: middle;

    padding-left: 60px;
}

.usecases .article p {
    font-size: 22px;
    margin-bottom: 30px;
}

.usecases .article .text_wrap img {
    width: 600px;
}

/***************
*** solution ***
***************/
.solution .content {
    background: url("../img/solution/solution_bg.png") no-repeat center;
    background-size: cover;
}

/* cont_title_wrap .cont_title 영역 */
.solution .cont_title_wrap .cont_title h2 {
    text-align: center;
    padding: 120px 0 40px;
    /*background-color: #8d7a9e;*/
    color: #000;

    font-size: 27px;
    line-height: 40px;
    font-weight: bold;
}

.solution .cont_title_wrap .cont_title h2 span {
    font-weight: normal;
    font-size: 23px;
}

.solution .content_wrap {
    margin: auto;
    width: 100%;
    max-width: 1100px;
    padding: 50px 0 0 40px;
}

.solution .content_wrap h2 {
    border-left: solid 5px #300d4f;
    margin-bottom: 18px;
    padding-left: 10px;

    font-size: 20px;
}

.solution .article .article-left {
    width: 520px;
    border-right: solid 1px #808080;
    padding-right: 50px;
    margin-right: 20px;
}

.solution .article .article-left .image_wrap,
.solution .article .article-left .text_wrap {
    display: inline-block;
    vertical-align: middle;
}

.solution .article .article-left .image_wrap {
    margin-right: 10px;
}

.solution .article .article-left .image_wrap img {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}

.solution .article .article-left .text_wrap {
    display: inline-block;
    vertical-align: middle;
}

.solution .article .article-right h3 {
    color: #d5d6d8;
    font-size: 25px;

    margin-bottom: 15px;
}

.solution .article .article-left p,
.solution .article .article-right p {
    line-height: 25px;
}

.solution .article .article-right p {
    font-weight: bolder;
}

.solution .article .article-left .text_wrap,
.solution .article .article-right .text_wrap {
    position: relative;
}

.solution .article .article-left .text_wrap p:before {
    position: absolute;
    content: "\B7";
    left: 0;
    font-size: 30px;
    color: #8d7a9e;
}

.solution .article .article-right .text_wrap p:before {
    position: absolute;
    content: "\B7";
    left: 0;
    font-size: 30px;
    color: #a0a0a0;
}

.solution .article .article-left .text_wrap p,
.solution .article .article-right .text_wrap p {
    font-size: 17px;
    padding-left: 15px;
}

.solution .article .article-left .text_wrap p {
    font-weight: 500;
}

.solution li {
    margin-bottom: 50px;
}

.solution li:nth-child(2) .blind {
    padding-bottom: -10px;
}

.solution li:nth-child(3) .blind {
    padding-bottom: 40px;
}

.solution li:nth-child(4) .blind {
    margin-bottom: 0;
}

.solution li:nth-child(5) .blind {
    position: absolute;
    margin-bottom: 0;
}

.solution .button_wrap {
    width: 300px;
    margin: 0 auto;

    text-align: center;

    padding: 130px 0 80px;
}

.solution .button_wrap a {
    background-color: #fcba1e;
    border-radius: 5px;

    padding: 10px 20px;

    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

/***************
*** Intelligence ***
***************/
/* cont_title_wrap .cont_title 영역 */
.intelligence .cont_title_wrap .cont_title h2 {
    text-align: center;
    padding: 40px 0;
    background-color: #8d7a9e;

    color: #ffffff;
    font-size: 27px;

    font-weight: 500;
}

.intelligence .content_wrap {
    padding: 100px 0;
}

.intelligence .content_wrap .text_wrap {
    text-align: center;
}

.intelligence .content_wrap .img_wrap {
    margin-bottom: 50px;
}

.intelligence .content_wrap .img_wrap img {
    display: inline-block;
    vertical-align: middle;

    width: 150px;
}

.intelligence .content_wrap .img_wrap .icon_plus {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url("../img/intelligence/icon_plus.png");

    vertical-align: middle;

    margin: 0 10px;
}

.intelligence .content_wrap .text_wrap h3 {
    margin-bottom: 50px;
    font-size: 20px;
}

.intelligence .content_wrap .text_wrap .img_background {
    width: 1100px;
    background-color: #f0f2fe;
    max-width:100%;

    margin: 0 auto;
    padding: 40px 30px;
}

.intelligence .content_wrap .text_wrap .diagram {
    width: 98%; margin: auto;
}

/***************
*** check ***
***************/
.check .cont_title_wrap {
    text-align: center;
    width: 100%;
    padding: 120px 0 30px;
}

.check .cont_title {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.check .cont_title > div {
    margin: auto;
}

.check .cont_title h2 {
    text-align: center;
    font-size: 27px;
    width: 80%;
    margin: auto;
    font-weight: bold;
}

.check .cont_title h3 {
    text-align: center;
    font-size: 15px;
    width: 70%;
    flex: auto;
    margin: 10px 0 0;
}

.check .cont_title h3 span {
    font-weight: normal;
    margin-left: 5px;
}

.check .cont_title ul {
    float: right;
    width: auto;
    margin-top: -60px;
}

.check .cont_title ul li {
    float: left;
    margin-left: 10px;
}

.check .check_wrap {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding: 50px 0;
}

.check .score_wrap h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.check .score_wrap .percent_wrap {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    width: 130px;
    margin-right: 30px;
}

.check .score_wrap .percent_wrap .percent canvas {
    width: 130px;
}

/* percent */
.check .score_wrap .percent_wrap .percent strong {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin-left: 46px;

    text-align: center;
}

.check .score_wrap .score {
    display: inline-block;
    vertical-align: middle;
}

.check .score_wrap.clear .score {
    display: table; float:right;
    vertical-align: middle;
    width: calc(100% - 164px);
    border-spacing: 10px 0;
    margin-right: -10px;
    max-width: inherit;
}

.check .score_wrap .score_box {
    display: inline-block;
    vertical-align: middle;

    width: 150px;
    /*background-color: yellow;*/
    border: solid 1px #b4b9d3;

    padding-bottom: 10px;
    margin-right: 10px;

    text-align: center;
}

.check .score_wrap.clear .score_box {
    display: table-cell;
    vertical-align: top;

    width: calc(20% - 10px);
    /*background-color: yellow;*/
    padding-bottom: 10px;
    margin-left: 0;
	border:none;
    text-align: center;
    border: solid 1px #b4b9d3;
}
.check .text_wrap{padding: 0 20px; }

.check .score_wrap .score_box > div {  width: 95%; float: right;  }

.check .score_wrap .score_box h3 {
    background-color: #300d4f;
    border: solid 1px #300d4f;

    padding: 10px 0;
    margin-bottom: 6px;

    color: #ffffff;

    font-size: 17px;
}

.check .score_wrap .score_box p {
    padding: 5px 0; width:95%; margin:auto; word-break:break-all;
    font-size: 15px;
}

.check .score_wrap .btn_wrap {
    float: right;
    padding-top: 30px;
}

.check .score_wrap .btn_wrap a {
    display: inline-block;

    width: 130px;
    background-color: #8e7a9f;

    padding: 5px 0;

    color: #ffffff;
    text-align: center;

    font-size: 15px;
}

.check .score_wrap .btn_wrap a:FIRST-CHILD {
    margin-right: 5px;
}

.check ul li {
    margin-bottom: 30px;
}

.check ul .title {
    width: 100%;
    background-color: #f0f2fe;
    margin-bottom: 10px;
    padding: 10px 0 1px;
    cursor: pointer;
}

.check ul .title h3:before {
    content: " ";
    width: 3px;
    height: 16px;
    display: inline-block;
    background: black;
    float: left;
    margin-right: 14px;
    margin-top: 2px;
}

.check ul .title h3 {
    font-size: 18px;
}

.check ul .list_wrap {
    margin: auto;
    width: 100%;
    max-width: 1000px;

    margin-bottom: 10px;

    font-size: 15px;
}

.check ul .list_wrap strong {
    display: inline-block;
    width: 100px;
    margin-right: 80px;
    vertical-align: middle;

    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.check ul .list_wrap span {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
}

.check ul .list_wrap .score_box {
    width: 200px;
}

.check ul .list_wrap h5 {
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 20px;
}

.check ul .list_wrap .float_l span {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
}

/***************
*** price ***
***************/
.price .sec3 {
    padding: 120px 0;
    text-align: center;
    background: #EEF1FE url("../img/price/price_bg.png") no-repeat bottom;
}

.price .sec3 h3 {
    font-size: 24px;
}

.price .sec3 h4 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 5px;
}

.price .sec3 ul {
    display: inline-block;
    width: 90%;
    margin-top: 50px;
}

.price .sec3 ul li {
    float: left;
    width: 33.33%;
}

.price .sec3 ul li .title {
    background: #300d4f;
    border: 1px solid #bfafcc;
    padding: 12px 0;
}

.price .sec3 ul li .title h5 {
    color: #fff;
}

.price .sec3 ul li .title h6 {
    color: #fff;
    font-weight: normal;
    margin-top: 5px;
}

.price .sec3 ul li .cont {
    border: 1px solid #aaaaaa;
    border-top: none;
    padding: 30px 0;
    height: 420px;
    background-color: #ffffff;
}

.price .sec3 ul li .cont strong {
    font-size: 18px;
}

.price .sec3 ul li .cont p {
    margin-top: 30px;
    line-height: 1.7;
    font-size: 18px;
    font-weight: normal;
}

.price .sec3 ul li > div {
    width: 90%;
    margin: auto;
}

.price .sec3 ul li.middle_item .title {
    background: #300d4f;
}

.price .sec3 ul li div div div {
    font-weight: bold;
    margin: 7px 0;
    font-size: 30px;
    font-weight: bold;
}

.price .sec3 ul li.last div div div {
    font-weight: bold;
    margin: 7px 0;
    font-size: 30px;
    font-weight: bold;
}

.price .sec3 ul li div span {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    padding: 2px 6px;
    line-height: 1.5;
    background: #9c80b2;
    border-radius: 5px;
    display: inline-block;
}

.price .table_wrap {
    width: 1000px;
    margin: 0 auto;
}

.price .table_wrap table,
.price .table_wrap thead,
.price .table_wrap tbody,
.price .table_wrap tr {
    display: inline-block;
    width: 100%;
}

.price .table_wrap img {
    width: 30px;
}

.price .table_wrap th {
    font-size: 18px;
}

.price .table_wrap th,
.price .table_wrap td {
    text-align: center;
    width: 24.5555%;
    display: inline-block;
    padding: 5px 0;
}

.price .table_wrap thead {
    padding-bottom: 5px;
}

.price .table_wrap thead span {
    font-weight: normal;
}

.price .table_wrap tbody tr:nth-child(2n) {
    background-color: #f0f3fe;
}

.price .table_wrap tbody tr {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    background-color: #fafafa;
    margin-bottom: 10px;
    padding: 5px;
}

.price .table_wrap tbody tr span {
    color: #000000;
    font-size: 18px;
    padding: 5px 0;
    border-radius: 5px;
    width: 190px;
}

.price .table_wrap tbody tr:nth-child(5) span {
    color: #ffffff;
    background-color: #725e82;
}

.price .table_wrap tbody tr:nth-child(6) span {
    color: #ffffff;
    background-color: #725e82;
}

.price .table_wrap tbody tr:nth-child(7) span {
    color: #ffffff;
    background-color: #4b385b;
}

.price .table_wrap tbody tr:nth-child(8) span {
    color: #ffffff;
    background-color: #4b385b;
}

.price .table_wrap tbody tr:nth-child(9) span {
    color: #ffffff;
    background-color: #4b385b;
}

.price .table_wrap tbody tr:nth-child(10) span {
    color: #ffffff;
    background-color: #300d4f;
}

.price .table_wrap tbody tr .block {
    background-color: #cebfdb;
}

.price .button_wrap {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 80px;
}

.price .button_wrap a {
    background-color: #fcba1e;
    border-radius: 5px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

/***************
*** Modal ( 팝업창) ***
***************/
.modal {
    padding: 0;
    max-width: 700px;
    background-color: #f0f2fe;

    padding-bottom: 20px;
}

.modal a.close-modal {
    display: none;
}

.modal .top .bar {
    width: 100%;
    height: 10px;
    background-color: #300d4f;
}

.modal .top .logo {
    border-bottom: solid 1px #bfbfbf;

    margin: 5px 20px 20px;
    padding-left: 25px;
    padding-bottom: 5px;
}


.modal .container {
    padding: 0 45px;
}

.modal .middle {
    margin-bottom: 20px;
}

.modal .middle h2 {
    margin-bottom: 25px;
}

.modal .middle .info {
    display: inline-block;

    width: 78px;
    padding: 9px 10px;
    background-color: #8d7a9e;
    border-radius: 5px;
    border: solid 1px #8d7a9e;

    margin-right: 5px;

    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

.modal .middle .select_area {
    margin-bottom: 15px;
}

.modal .middle textarea {
    display: inline-block;
    vertical-align: top;
    resize: none;

    width: calc(100% - 88px);
    border-radius: 5px;
    border: solid 1px #ffffff;

    padding: 8px 18px;

    text-align: left;
    line-height: 20px;
    font-size: 14px;


}

.modal .bottom .cancel_btn {
    margin-right: 10px;
}

.modal .bottom .cancel_btn,
.modal .bottom .close_btn {
    display: inline-block;
    width: 78px;
    padding: 9px 10px;
    background-color: #fcba1e;
    border-radius: 5px;
    border: solid 1px #fcba1e;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;

    float: right;
}

/* 셀렉트 박스 디자인 */
.modal .nice-select.wide {
    float: inherit;
    display: inline-block;
    width: calc(100% - 88px);

    height: 35px;
    line-height: 35px;

    border: solid 1px #ffffff;
}







/***************
*** DashBoard ***
***************/
.dashboard .cont_title_wrap .cont_title h2 {
    text-align: center;
    padding: 40px 0;
    background-color: #8d7a9e;
    color: #ffffff;
    font-size: 27px;
    line-height: 40px;

    font-weight: 500;
}


.dashboard .content_wrap {
    margin: auto;
    width: 100%;
    max-width: 1100px;
    /*background-color: yellow;*/

    padding: 100px 0;
}

.dashboard .content_wrap li {
    margin-bottom: 30px;
}

.dashboard h2.title {
    display: inline-block;
    vertical-align: top;
	font-size:20px; margin-top:0px;
    width: 100px;
}

.dashboard .score_wrap {
    display: inline-block;
    vertical-align: top;
}

.dashboard .score_wrap .score_box {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    /* background-color: yellow; */
    padding-bottom: 10px;
    margin-right: 9px;
    text-align: center;
    background-color: #f2f2f2;
}

.dashboard .score_wrap .score_box h3 {
    border-bottom: solid 1px #000000;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #300d4f; color:#fff;
}

.dashboard .score_wrap .score_box.black h3 {
    background-color: black;
    color: #ffffff;
    border: solid 1px #000000;
}

.dashboard .score_wrap .score_box p {
    padding: 5px 0;
    font-weight: bold;
}

.dashboard .table_list {
    display: inline-block;
    vertical-align: top;
    width: 990px;
}

.dashboard .table_wrap {
    display: inline-block;
    vertical-align: top;

    width: 400px;
    /*background-color: pink;*/

    margin: 0 20px 20px 0;
}

.dashboard .table_wrap h3 {
    text-align: center;
    background-color: #666666; color:#fff;
    border-bottom: solid 1px #000;

    padding: 10px;
}

.dashboard .table_wrap table {
    width: 100%;
    text-align: center; background-color: #f2f2f2;
}

.dashboard .table_wrap table th {
    text-align: center;
    padding: 10px 0;
}

.dashboard .table_wrap table td.address {
    text-align: left;
}



/***************
*** unusual ***
***************/
.unusual .cont_title_wrap .cont_title h2 {
    text-align: center;
    padding: 40px 0;
    background-color: #8d7a9e;
    color: #ffffff;
    font-size: 27px;
    line-height: 40px;

    font-weight: 500;
}

.unusual .content_wrap nav {
    width: 100%;
    /*background-color: yellow;*/
    margin: 0 auto 30px;
display:inline-block;;
    text-align: center;
    height: 60px;
}

.unusual .content_wrap nav li {
    display: inline-block;
    padding: 20px 0 20px 40px ;
    font-weight: bold;

    position: relative;
	float:right;
    cursor: pointer;
}

.unusual .content_wrap nav > ul{width: 1100px; margin: auto; max-width: 100%;  }

/* sub_nav */
.unusual .content_wrap nav .sub_nav {
    /*display: none;*/
    position: absolute;

    width: 230px;
    background-color: rgba(248, 249, 255);
    margin-top: 11px;

    text-align: center;

    left: 30px;

    z-index: 99999;
}

.unusual .content_wrap nav .sub_nav li {
    display: inline-block; width: 100%;
    text-align: left;
    margin: 0;
    padding: 10px;

}

.unusual .content_wrap nav .sub_nav li a{ display: inline-block; width: 100%;}

.unusual .content_wrap .table_wrap {
    width: 1150px;
    margin: 0 auto;
}

.unusual .content_wrap .table_wrap h2 {
    border-left: solid 5px black;
    padding-left: 10px;
    margin-bottom: 50px;
}

.unusual .table_list {
    padding: 0 80px 100px;
}

.unusual .table_list table {
    width: 100%;
    /*background-color: yellow;*/
}

.unusual .table_list table th {
    background-color: #300d4f;
    padding: 5px;
    margin-bottom: 10px;

    text-align: center;
    color: white;
}

.unusual .table_list table th,
.unusual .table_list table td {
    border-right: solid 1px #cccccc;
}

.unusual .table_list table th:last-child,
.unusual .table_list table td:last-child {
    border-right: none;
}

.unusual .table_list table td {
    padding: 10px 20px;
}

.unusual .table_list table td.num,
.unusual .table_list table td.coin_name,
.unusual .table_list table td.count,
.unusual .table_list table td.change,
.unusual .table_list table td.in,
.unusual .table_list table td.out,
.unusual .table_list table td.name,
.unusual .table_list table td.data,
.unusual .table_list table td.exchange {
    text-align: center;
}

.unusual .table_list table td.change.up,
.unusual .table_list table td.change.up span{
    color: blue;
}

.unusual .table_list table td.change.down,
.unusual .table_list table td.change.down span{
    color: red;
}

.unusual .table_list table.center td,
.unusual .table_list table.center th {
    text-align: center;
}

.unusual .content_wrap .select_wrap {
    display: inline-block;
    width: 100%;
    padding: 0 80px;
    margin-bottom: 50px;
}

.unusual .content_wrap .select_wrap .select_list {
    float: left;
    width: calc(33.33333% - 20px);

    margin-left: 30px;
}

.unusual .content_wrap .select_wrap .nice-select {
    float: left;
    width: calc(100% - 78px);
    border-radius: 0;
}

.unusual .content_wrap .select_wrap .select_list .info {
    float: left;
    width: 78px;
    padding: 12px 10px;
    background-color: #300d4f;
    border: solid 1px #300d4f;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;

    /*margin-right: 15px;*/
}

.unusual .content_wrap .select_wrap .select_list:first-child {
    margin-left: 0;
}



.unusual .content_wrap ul > li:hover .sub_nav,
.unusual .content_wrap ul > li:hover .sub_nav_wrap {
    display: inline-block;
}

.unusual .sub_nav_wrap {
    display: none;
    position: absolute;
    /*background-color: yellow;*/
    left: 0;
}

.unusual .sub_nav_wrap .bg {
    position: fixed;

    width: 100%;
    height: 100%;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    /*background-color: yellow;*/
}

.unusual .sub_nav_wrap .bg:hover {
    display: none;
}

.unusual .mobile {
    display: none;
}

.unusual .table_line {
    border-bottom: solid 1px #cccccc;
}


.api li{  margin-bottom: 20px;  font-size: 20px;;  }
.api .content_wrap {padding-bottom: 200px; padding-top: 10px;  }
.api .button_wrap{padding: 0 0 200px; }

#data-table {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  margin: 0px auto 0;
  width: 1000px;
}



