@CHARSET "UTF-8";

/* 메인 레이아웃 */

.mm-menu{display: none; }
#menu_wrap{display: none; }


.sns_login ul li{float: left; margin-top: 50px; margin-left: 10px;    }
.sns_login ul li:FIRST-CHILD {margin-left: 0;  }
.sns_login ul{display: inline-block; }
.sns_login{text-align: center; }
.unusual .table_list table.center th, .unusual .table_list table th{border-bottom: 1px solid #fff; }

.tracking_cont1 svg{width: 100% !important; height: 100% !important; }

.main .sec1 .down ul li ul{ width: calc(100% - 190px); float: left; overflow: hidden;
    -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; margin: 0; height: 18px;   }

.main .sec1 .down ul ul  span { width: 100%; float: left; overflow: hidden;
    -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

#header { width: 100%; display: inline-block; background: #300d4f; position: fixed; top:0; z-index: 9999; }
#header .nav > h1 {float: left; }
#header .nav > .nav_l {float: left; margin-left: 50px;   }


.unusual .content_wrap nav .sub_nav li:hover a{color:#000; }
.unusual .table_list table th:last-child{border-bottom: 1px solid #fff; }


#header .nav > .nav_l li{float: left; }

#header .nav > .nav_r {float: right; }
#header .nav > .nav_r  li{float: left; }
#header .nav li a{color:#fff; padding: 20px; display: inline-block; font-size: 16px; }
#header .nav h1 a{  padding: 5px 0; display: inline-block; }
.nav{ width: 1200px; margin: auto;   }
#header .nav .log_btn a{background: #fcba1e; margin: 16px; padding: 4px 20px; margin-right: 0;  }
#header .nav .log_btn .login{border: 3px solid white; background: #300d4f; margin: 16px; padding: 4px 20px; margin-right: 0;  }
#container{padding-top: 58px; min-width: 1200px;  }
.wrap{ width: 100%; max-width: 1200px; margin: auto; }

.sub_title_wrap{width: 100%; background: #fff; }
.sub_title {width: 1150px; margin: auto;  padding: 5px 0; font-size: 15px; }
.sub_title span{ font-size: 12px;  }

/* 메인페이지 */
.main .sec1{  display: inline-block; width: 100%; } 
.main .sec1 .wrap > .section-item-box{ padding: 130px 0; }
.main .sec1 h2{ font-size: 32px; }
.main .sec1 h3{ font-size: 24px; margin-top: 5px; font-weight: normal; }
.main .sec1 .left{width: 620px; margin-top: 70px; }
.main .sec1 .right{width: calc(100% - 620px); }
.main .sec1 .down{margin-top: 60px; }
.main .sec1 .down > strong { font-size: 18px; width: 300px; display: inline-block; float: left; }
.main .sec1 .down > span { font-size: 18px; width: calc(100% - 300px); float: left;     overflow: hidden;
    -ms-text-overflow: ellipsis;  text-overflow: ellipsis;   white-space: nowrap; }
.main .sec1 .down input[type="text"]{ float: left; border: none; width: calc(100% - 40px); background: #eff3ff; height: 40px;  padding: 10px;
 box-sizing: border-box; font-size: 16px;  }
.main .sec1 .down input[type="submit"]{ float: left; background:#fcba1e url("../img/search_btn.png") center center no-repeat; width: 40px; height: 40px; 
border: none; cursor: pointer; }

.main .sec1 .down input[type="button"]{ float: left; background:#fcba1e url("../img/search_btn.png") center center no-repeat; width: 40px; height: 40px; 
border: none; cursor: pointer; }


.main .sec1 .down input[type="text"]::-webkit-input-placeholder { color: #94979e; }
.main .sec1 .down input[type="text"]::-moz-placeholder {   color: #94979e; }
.main .sec1 .down input[type="text"]:-ms-input-placeholder { color: #94979e; }
.main .sec1 .down input[type="text"]:-moz-placeholder { color: #94979e; }
.main .sec1 .down .search{display: inline-block; width: 100%; margin-top: 20px; }
.main .sec1 .down > ul > li strong { font-size: 16px;  }
.main .sec1 .down ul > li span { font-size: 16px;  }
.main .sec1 .down ul{margin-top: 45px; }
.main .sec1 .down > ul > li{display: inline-block; width: 100%; margin-top: 15px;  }
.main .sec1 .down > ul > li:FIRST-CHILD{margin-top: 0; }
.main .sec1 .down ul strong { width: 190px; float: left; }
.main .sec1 .down > ul > li > span { width: calc(100% - 190px); float: left; overflow: hidden;
    -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.main .sec1 .right img{ width: 470px; float: right; max-width: 100%;   }
.bottom_next{ text-align: center;  }
.wrap > div{display: inline-block; width: 100%; }
.main .sec2{ background: #eff3ff; padding: 120px 0; margin-top: 50px; text-align: center;  }
.main .sec2 h2{ font-size: 24px; text-align: center; }
.main .sec2 h3{ font-size: 24px; text-align: center; font-weight: normal; margin-top: 5px; }

.main .sec2 ul{display: inline-block;     width: 95%; margin-top: 35px;   }
.main .sec2 ul li{float: left; width: 20%;   }
.main .sec2 ul li div{padding: 25px 0; background: #fff; width: 93%; box-sizing: border-box; margin: auto; }
.main .sec2 ul li p{font-weight: bold; font-size: 20px; color:#3c3c3c; margin-top: 10px;    }

.btn_main{text-align: center; margin-top: 80px; }
.btn_main a{text-align: center; width: 180px; border-radius: 5px; padding:7px 0; display:inline-block;
 color:#fff; font-size: 23px; font-weight: bold; background: #fcba1e; }

.main .sec3 {    padding: 120px 0; text-align: center;}
.main .sec3 h3{ font-size: 24px;  }
.main .sec3 h4{ font-size: 24px; font-weight: normal;margin-top: 5px; }

.main .sec3 ul{display: inline-block;     width: 90%; margin-top: 35px;   }
.main .sec3 ul li{float: left; width: 33.33%;   }
.main .sec3 ul li .title{ background: #300d4f; border: 1px solid #300d4f; padding: 12px 0; }
.main .sec3 ul li .title h5{color:#fff; font-size: 22px }
.main .sec3 ul li .title h6{color:#fff; font-weight: normal; margin-top: 5px; font-size: 22px }

.main .sec3 ul li .cont{ border: 1px solid #aaaaaa; border-top:none; padding: 30px 0; height: 185px; } 

.main .sec3 ul li .cont strong{font-size: 18px; }
.main .sec3 ul li .cont p{margin-top: 30px; line-height: 1.7; font-size: 18px; font-weight: normal; }

.main .sec3 ul li > div{ width: 90%; margin: auto; }

.main .sec3 ul li.middle_item .title{ background: #300d4f; }
.main .sec3 ul li div div div{font-weight: bold; margin: 20px 0; font-size: 30px; font-weight: bold; }
.main .sec3 ul li.last div div div{font-weight: bold; margin: 5px 0; font-size: 30px; font-weight: bold; }


.main .sec3 ul li div span{font-size: 18px;  font-weight: normal;  color:#fff;  padding: 2px 6px; line-height:1.5; background:#fcba1e; border-radius: 5px; display: inline-block;  }

#footer{ background: #eff3ff; padding: 20px 0; }
#footer .fl{float: left; }
#footer .fl p{ color:#000; line-height: 1.5; font-size: 16px; }

#footer .fr{float: right; }
#footer .fr li{float: left; margin-left: 22px; }
#footer .fr li:FIRST-CHILD{ margin-left: 0; }

#footer .fr li a{color:#000; font-size: 16px; }
#footer .wrap > div{display: inline-block;  }

.btn_main a{overflow: hidden; position: relative;}
.btn_main a:after { position: absolute; top: 0; left: 0; width: 110%; height: 100%; content: '';
  -webkit-transform: skewX(-50deg); transform: skewX(-50deg);
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat -2em 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat -2em 0;
  background-size: 2em 100%; }
.btn_main a:hover:after { -webkit-transition: .7s linear; transition: .7s linear; background-position: 150% 0; }


/* 트래킹 */
.tracking .content{ margin: auto;  width: 100%;  }
.tracking .cont_title_wrap{text-align: center;  width: 100%; background: #f0f2fe; padding: 120px 0 220px;  }
.tracking .cont_title {text-align: center;  width: 100%; max-width: 1200px; margin: auto;  display: flex; flex: auto; }

.tracking .cont_title > div{ margin: auto;  }
.tracking .cont_title h2{text-align: center; font-size: 30px; width: auto; flex: auto; font-weight: bold;  }
.tracking .cont_title h3{text-align: center; font-size: 17px; width: auto; flex: auto; margin: 10px 0 0; }
.tracking .cont_title h3 span{font-weight: normal; margin-left: 5px;  }
.tracking .cont_title ul{float: right; width: auto; }
.tracking .cont_title ul li{float: left; margin-left: 10px; }
.tracking .content_wrap{margin: auto; margin-top: -170px; width: 100%; max-width: 1200px;  }

.content_wrap h4:BEFORE{ content: " "; width: 3px; height: 18px; display: inline-block; background: black; float: left; margin-right: 14px; margin-top: 2px;  }
.content_wrap h4{font-size: 20px; }

.tracking_cont1{background: #fff;  box-shadow: 4px 4px 12px #ccc;  height: 850px;  }
.tracking_cont{ margin-top: 20px; } 

.tracking_cont .node { cursor: pointer; }
.tracking_cont .node circle { fill: #fff; stroke: steelblue; stroke-width: 3px; }
.tracking_cont .node text { font: 16px sans-serif; }
.tracking_cont .link { fill: none;  stroke: red;  stroke-width: 2px !important;  }

.solution .article .article-left .text_wrap{ width: calc(100% - 120px); }

.tracking .content_wrap > ul > li {margin-top: 100px; }
.tracking .content_wrap > ul > li:FIRST-CHILD {margin-top: 0px; }

.tracking_cont2{display: inline-block; width: 100%; }
.tracking_cont2 ul{ width: 95%; margin: auto; }
.tracking_cont2 ul li{float: left; width: 20%; text-align: center;  }
.tracking_cont2 ul li > div{width: 90%; border: 1px solid #b4b9d3; margin: auto;  }
.tracking_cont2 ul li > div h2{ width: 100%; background: #300d4f; color:#fff; display: inline-block; padding: 15px 0;  }
.tracking_cont2 ul li > div p{padding: 20px 0; }

.tracking .content_wrap{margin-bottom: 300px; }

.nav > ul > li{ position: relative;  }
.nav ul ul{display: none; position: absolute; left: 0; background: #f0f2fe; width: 150px;   }
.nav ul ul li{display: inline-block; width: 100%; }
#header .nav ul ul li a{display: inline-block; width: 100%; padding: 10px; color:#000; font-size: 14px; }


.nav > ul > li:hover ul{display: inline-block;}

.nav_mo{display: none; }
.nav_web{display: inline-block; }

.nav_mo a:before,
.nav_mo a:after
{
	content: '';
	display: block;
	background: #fff;
	height: 2px;
}
 .nav_mo a span
{
	background: #fff;
	display: block;
	height: 2px;
	margin: 6px 0;
}
#header .nav .nav_mo a { display: block; width: 50px; height: 18px; padding: 11px; position: absolute; top: 0; right: 0; margin: 9px 0; }
.mm-menu_position-bottom{ height: 100% !important; top:47px !important; display: none;  }
.mm-panel:not(.mm-hidden), .mm-navbars_top>.mm-navbar{  background: #300d4f; }
.mm-menu a { color:#fff !important; } 
.mm-navbars_top{border: none; }
.mm-btn_next:after, .mm-btn_prev:before{border-color: #fff !important; }

.price .sec3 ul li .title h5, .price .sec3 ul li .title h6{font-size: 22px; }

.check .cont_title ul{margin-right: 30px;  }



.login_wrap {width: 600px; margin: auto; padding: 90px 0; text-align: center; }
.login_wrap > p{ margin-top: 11px; font-size: 13px; font-weight: bold; color:#797979; }
.login_form_wrap{background: #fff; border: 1px solid #dee1e3; padding: 50px 60px; text-align: center; }
.login_form_wrap h1{font-size: 51px; }
.login_form_wrap h2{font-size: 22px; font-weight: 500; margin-top: 5px; }
.login_form{margin-top: 50px; text-align: left; }
.login_form > p{font-weight: bold; margin-bottom: 5px;  }
.login_form input[type="id"], .login_form input[type="password"]{width: 100%; margin-bottom: 5px; padding: 15px 10px; background: #f8f8f8; color:#898686; border: 1px solid #dee1e3;  }
.login_form > div{margin-top: 5px; display: inline-block; width: 100%; }
.login_l li{float: left; margin-left: 3px; }
.login_l li:FIRST-CHILD{margin-left: 0; }
.login_r{float: right; }
.login_r li{font-size: 13px; }
.login_r > li > a{ color:#000052;  }
.login_r li{float: left; }
.login_r li input{float: left; cursor: pointer; background: #fff; border: 1px solid #dee1e3; }
.checkbox_box_wrap input[type="checkbox"]:checked { display:inline-block; width:14px; height:14px; vertical-align:middle; background:url(../img/checkbox_ch.png) no-repeat 0 0; appearance: none; -moz-appearance: none; /* Firefox */ -webkit-appearance: none; /* Safari and Chrome */ border-radius:0; border:0; }
.checkbox_box_wrap input[type="checkbox"] { display:inline-block; width:14px; height:14px; vertical-align:middle; 
background:url(../img/checkbox.png) no-repeat 0 0; appearance: none; -moz-appearance: none; /* Firefox */
 -webkit-appearance: none; /* Safari and Chrome */ border-radius:0; border:0; cursor: pointer; }
.login_r {padding: 7px 0; }

.login_r li label{float: left; cursor: pointer; margin-left: 5px; }
.login_r li{margin-left: 5px; }
.login_r li ul li{border-left: 1px solid #555555; margin-left: 0; padding: 0 7px; line-height: 0.8; }
.login_r li ul li label, .login_r li ul li a{margin-top: 2px; display: inline-block; }

.login_r li ul li:FIRST-CHILD{border-left: none; }
.login_btn input[type="button"] { background:#685d71; width: 240px; border-radius: 50px; color:#fff; border: none; padding: 12px 0;
 font-weight: bold; font-size: 15px; cursor: pointer; }
 .login_btn input[type="submit"] { background:#685d71; width: 240px; border-radius: 50px; color:#fff; border: none; padding: 12px 0;
 font-weight: bold; font-size: 15px; cursor: pointer; }
 
 
 .login_btn input[type="submit"]:hover {background:#564960 }
 
 .login_btn a { background:#fcba1e; width: 240px; border-radius: 50px; color:#fff; border: none; padding: 12px 0;
 font-weight: bold; font-size: 15px; cursor: pointer; display: inline-block; }
.login_form >.login_btn{text-align: center; margin-top: 20px; }

.login_wrap > a{ margin-bottom: 20px; display: inline-block; }



.pop-layer .pop-container {
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px; font-size: 17px; 
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  z-index: 10;
   -webkit-box-shadow: 1px 1px 5px 0px rgba(128,128,128,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(128,128,128,0.75);  box-shadow: 1px 1px 5px 0px rgba(128,128,128,0.75); 
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
}

.dim-layer .dimBg, .dim-layer .dimBg1, .join_pop2 .dimBg2, .join_pop3 .dimBg3, .join_pop4 .dimBg4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 17px 0;
   background: #f6f6f6;
  color: #666;
  font-size: 13px;
  line-height: 25px;
  margin-left: 4px;  float: right; 
}
a.btn-layerdel{display: inline-block;
  height: 25px;
  padding: 0 17px 0;
  font-size: 13px;    background: #6382c3;
  color: #fff;
  line-height: 25px; }


 .dim-layer .btn-layerClose{ line-height: 23px; }
 .dim-layer.join_pop1 .btn-r{float: right; margin: 0; border: none; }
 
.dim-layer.join_pop1 .terms_title{margin-bottom: 30px; }

.terms_title {width: 1020px; margin: auto; padding: 11px 15px 12px; ; background: #f6f6f6; color:#2a2a2a;
 border-top: 1px solid #300d4f; border-bottom: 1px solid #d5d5d5; margin-bottom: 40px; }
.terms_title h2{ font-weight: bold;   }

.terms{width: 1020px; margin: auto; padding: 10px 40px;  }

.terms_pt{padding-top: 10px; }

.terms h3{font-weight: bold; font-size: 15px; }
.terms p{padding: 0 7px; font-size: 12px; margin-top: 7px; line-height: 1.5; }

.terms_wrap{ padding-bottom: 70px; background: #fff; }


.apply_layer .pop-layer{width: 400px; }
.apply_layer .terms_title { width: 400px;  position: fixed;  height: 42px; }
.apply_layer .btn-layerClose{position: absolute; top:10px; right:20px; color:#373636; font-size: 17px;
 top: 8px;    padding: 0 13px 0; background: none; right: 0;  }
 
 .pop_del ul li{float: left; margin-left: 10px; }
 .pop_del ul li:FIRST-CHILD{margin-left: 0; }
 .pop_del ul{display: inline-block; margin-top: 15px;  }
 .pop_del ul li input{border: none; background: #5ba7f5 !important; color: #fff !important; font-size: 13px; 
 padding-top: 3px !important; padding-bottom: 3px !important;  }
 .pop_del ul li a {background: #c1c1c1 !important; color: #fff !important; font-size: 13px;
  padding-top: 3px !important; padding-bottom: 3px !important; height: 29px;  }
.dim-layer.join_pop1.pop_del ul li .btn-layerClose{position: static; }
.pop_del .terms_wrap{padding-bottom: 50px; }




.join_wrap{width: 570px; margin: auto; padding: 90px 0; text-align: center; }
.join_form_wrap{margin-top: 30px; padding: 45px 45px; background: #fff; border: 1px solid #dee1e3; text-align: left; }
.join_form_wrap h3{font-size: 30px; font-weight: bold; margin-bottom: 30px; }
.join_form_wrap h4{ font-size: 20px; color:#000052; margin-bottom: 30px; font-weight: bold; }
.join_form_wrap li{display: inline-block; width: 100%; margin: 11px 0; }
.join_form_wrap li strong{font-size: 12px; font-weight: bold; display: inline-block; width: 100px; float: left; margin: 7px 0; }
.join_form_wrap li p{font-size: 12px; width: 375px; float: right; margin-top: 5px; text-align: left; }

.select_box_text{display: inline-block; width: 100%; }
.join_form_wrap .select_box_text input{float: left; width: 120px; font-size: 12px; margin-right: 5px; }
.join_form_wrap .select_box_text input#uid2[name="ag_tal1"] {margin-left: 0; }



.select_box_text span{float: left; }
.select_box_wrap{float: left;}
.join_form_wrap input{ background: #f8f8f8; color: #898686; border: 1px solid #dee1e3; padding: 7px 10px; width: 350px;  }
.join_form_wrap span{font-size: 12px; font-weight: normal; color:#999999; float: left; }
.select_box_text span{ margin: 8px; }

.select_box_text .select_box_wrap input{width: 120px; }
.select_box_text .select_box_wrap {float: left; width: 100px; }
.select_box_text .select_box_wrap{position: relative; }
.select_box_text .select_box_wrap > div select{position: absolute; top:0; left:0;  width: 134px; border: 1px solid #dee1e3; cursor: pointer; }
.select_box_text .select_box_wrap > div input{position: absolute; top:0; left:0; z-index: 20;  }

.join_tel select, .select_box_wrap{ width: 90px; float: left;  }
.join_tel input{float: left; width: 120px;  margin-left: 10px; }
.join_form_wrap > ul{display: inline-block; width: 100%; padding-bottom: 20px  }

.join_terms{padding-top: 30px; border-top: 1px solid #dee1e3; }
.join_terms2{padding-bottom: 30px; }
.join_terms h5{ font-size: 20px; margin-bottom: 20px; font-weight: bold; }

.join_form_wrap .checkbox_box_wrap2 .checkbox_box_wrap{border: none; padding: 0; float: left; min-width: 33.33%; margin-top: 3px }
.join_form_wrap .checkbox_box_wrap2 > div{ width: 350px; float: left; }
.join_form_wrap .checkbox_box_wrap2 .checkbox_box_wrap label{width: auto; cursor: pointer;}


.join_form_wrap .checkbox_box_wrap{ border: 1px solid #dee1e3; padding-bottom: 6px }
.join_form_wrap .checkbox_box_wrap > div{padding: 17px 30px }
.join_form_wrap .checkbox_box_wrap > div a{float: right;  color: #333; font-size: 11px; text-decoration: underline; letter-spacing: -1px; margin-top: 4px }
.join_form_wrap .checkbox_box_wrap .join_all{ background: #f8f8f8; }
.join_form_wrap .checkbox_box_wrap .join_all label{font-size: 15px; }
.join_form_wrap .checkbox_box_wrap label{font-weight: bold; font-size: 12px;  display: inline-block; 
color:#6e6d6d; cursor: pointer; }
.join_form_wrap .checkbox_box_wrap > div p{font-size: 11px; padding-left: 24px; margin-top: 5px; line-height: 1.5; }
.join_form_wrap .login_btn{margin-top: 20px; text-align: center; }

.select_box_date input{width: 110px; float: left; }
.select_box_date .select_box_wrap select{width: 50px;  float: left; height: 31px; width: 110px; margin: 0 10px  }
.select_box_date .select_box_wrap > * {width: 100%; }
.select_box_date .select_box_wrap{width: 350px; }
.join_form_wrap li.select_box_date p{width: 0; float: left; }
.use_poto{width: 120px; height: 130px; border: 1px solid #dee1e3; }
.use_poto_wrap{ width: 350px; float: left;  }
.join_form_wrap .detail_info_img{ width:120px; height: 130px; }
.join_form_wrap .detail_info_img img{width: 100%; }
.join_form_wrap .my_button{margin: 42px; font-size: 13px; margin: 0px 19px; background: #6a6a6a; padding: 7px; }


.join_pop1 .pop-layer{ height: 500px;  }
.join_pop1 .pop-conts{position: relative; }
.join_pop1 .pop-layer .terms {width:100%; }
.join_pop1 .pop-layer .terms_title {width: 409px;  height: 42px;  }
.join_pop1 .pop-container{padding:0; height:100%; overflow-y: auto; position: relative;  }
.dim-layer.join_pop1 .dimBg, .dim-layer.join_pop1 .dimBg1, .dim-layer.join_pop2 .dimBg2, .dim-layer.join_pop3 .dimBg3, .dim-layer.join_pop4 .dimBg4{background: rgba(0,0,0,0.3); opacity: 0.5; filter: alpha(opacity=50); }
.dim-layer.join_pop1 .btn-layerClose{position: absolute; top:10px; right:20px; color:#373636; font-size: 17px;
 top: 8px;    padding: 0 13px 0; background: none; right: 0;  }
 .dim-layer .btn-layerClose{ line-height: 23px; }
 .dim-layer.join_pop1 .btn-r{float: right; margin: 0; border: none; }
 
.dim-layer.join_pop1 .terms_title{margin-bottom: 30px; }


.join_form_wrap input[type="radio"] + label span { display:inline-block; width:19px; margin-left:0;
 height:19px; vertical-align:middle; cursor:pointer; padding: 10px 0; }
.join_form_wrap input[type="radio"] { display:none; }
.join_form_wrap input[type="radio"] + label span { width:100%; height:auto; font-size: 10px; color:#b4b4b4; text-align: center;  }
.join_form_wrap input[type="radio"] + label {background-color: #fff; display: inline-block; border: 1px solid #dee1e3; width: 100%; }
.join_form_wrap .join_filter1 input[type="radio"] + label{border-right: none; }
.join_form_wrap input[type="radio"]:checked + label span {  background-color: #45a6ea; color:#fff; font-weight: bold; margin: 0; }



.select_box_sex > div{width: 176px; float: left; }


.select_box_wrap select { outline:none; }

.select_box_wrap select { width:200px; height: 30px; padding-left: 10px; font-size: 15px;
  color:#6e6d6d; border:1px solid #dee1e3; border-radius:3px;
  -webkit-appearance:none;  /* í™”ì‚´í‘œ ì—†ì• ê¸° for chrome*/
    -moz-appearance: none;    /* í™”ì‚´í‘œ ì—†ì• ê¸° for firefox*/
    appearance:none;          /* í™”ì‚´í‘œ ì—†ì• ê¸° ê³µí†µ*/
  background: #f8f8f8 url('../img/select-arrow.png') no-repeat 100% 50%;font-size: 12px;
}
.select_box_wrap select::-ms-expand { display: none;   /* í™”ì‚´í‘œ ì—†ì• ê¸° for IE10, 11*/ }
.join_tel select, .select_box_wrap{ width: 90px; float: left;  }

.use_poto{width: 120px; height: 130px; border: 1px solid #dee1e3; }
.use_poto_wrap{ width: 350px; float: left;  }
.detail_info_img{width: 360px; height: 495px; border: 1px solid #dddddd; overflow: hidden;  }
.join_form_wrap .detail_info_img{ width:120px; height: 130px; }
.join_form_wrap .detail_info_img img{width: 100%; }
.join_form_wrap .my_button{margin: 42px; font-size: 13px; margin: 0px 19px; background: #6a6a6a; padding: 7px; }

.join_form_wrap .my_button{margin: 42px; font-size: 13px; margin: 0px 19px; background: #6a6a6a; padding: 7px; }

.dashboard .table_wrap table td{padding: 7px 3px; }
.check .text_wrap table{     margin: auto; width: 100%; max-width: 1000px; margin-bottom: 10px; font-size: 15px }
.check .text_wrap table td, .check .text_wrap table th{  padding: 7px 17px;; border-top: solid 1px #cccccc;  border-bottom: solid 1px #cccccc; line-height: 1.5; }
.check .text_wrap table th{ width: 100px;  border-right: solid 1px #cccccc;    }
.check .text_wrap table td{  padding-left: 30px;  }
 
.check .score_wrap .score{padding: 0 0 0 10px;  width: 100%;  }
.check .score_wrap .score_box p{ width: 130px !important; }
.check .cont_title h3 {     overflow: hidden;  -ms-text-overflow: ellipsis;  text-overflow: ellipsis; white-space: nowrap;
display: inline-block;  }

.check .cont_title > div{width: 100%; }
.percent_w2{width: 100%; display: inline-block; }

.score_table{width: 100%; text-align: center; margin-left:10px;    }
.score_table th{  text-align: center;  background-color: #f2f2f2; color:#000;
    border: solid 1px #300d4f; padding: 11px 0;  margin-bottom: 6px;   font-size: 15px;     border: solid 1px #f2f2f2; }
.score_table td { border-spacing:0;
    padding: 10px 5px; margin:auto; word-break:break-all;
    font-size: 15px;    border-left: solid 1px #cccccc; width: 160px;  border-top: none; border-bottom: none; 
}

.score_table td:NTH-CHILD(2), .score_table td:NTH-CHILD(3){text-align: left; }


.score_table td:FIRST-CHILD{ border-left: none; }


#header .nav h1 a img {width: 160px;   }

@media (max-width: 930px) {
	#container { min-width: 100%; }
	.unusual#container{padding-bottom: 60px; }
	.main .sec3 h4, .main .sec3 h3{font-size: 18px; }
	.main .sec1 .left{ width: 95%; float: none; margin: auto; }
	.main .sec1 .wrap > .section-item-box{padding: 70px 0; }
	.main .sec1 .down{margin-top: 30px; }
	.main .sec1 .down ul{margin-top: 25px; }
	.main .sec1 .right{ width: 95%; float: none; margin: auto; text-align: center; margin-top: 10px;  }
	.main .sec1 .right img{float: none; }
	.main .sec2 ul li{width: 33.33%; margin: 7px 0 ;}
	.main .sec2 ul{margin-top: 30px; }
	.btn_main{margin-top: 30px; }
	.main .sec3 ul li .title h5{font-size: 16px; }
	.main .sec3 ul li .cont strong{ width: 90px;  display: inline-block; max-width: 100%; font-size: 17px;  }
	.main .sec3 ul li .cont{height: 265px; padding: 25px 0;  }
	.main .sec3 ul li .cont p{margin-top: 15px;     font-size: 16px; }
	.main .sec2 ul li p{font-size: 14px; line-height: 1.5; }
	.main .sec3 ul{width: 95%; }
	.main .sec3 ul li > div{width: 95%; }
	.main .sec3, .main .sec2{padding: 70px 0; }
	.main .sec3 ul li .title h6{font-size: 17px; }
	#footer .fl{float: none; width: 100%; }
	#footer .wrap > div{text-align: center; width: 100%; }
	#footer .fr{float: none; margin-top: 10px;  }
	#footer .fr li{ margin-left: 10px; }
	#footer .fr ul{display: inline-block; }
	.overview.sub .content{background-size: cover; }
	.overview .article .text_wrap{width: 100%; }
	
	.price .sec3 ul li{float: left; width: 33.33%;  }
	.price .sec3 ul li .title h5{font-size: 16px; }
	.main .sec2 h2, .main .sec2 h3{font-size: 18px; }
	.main .sec1 h3{margin-top: 10px; }
	
	.nav_web{display: none; }
	.nav_mo{display: inline-block; }
	.nav{width: 100%; }
	
	.join_wrap{width: 100%; }
	.join_form_wrap input{width: 100%; }
	.join_form_wrap{box-sizing: border-box; padding: 30px 15px }
	.join_form_wrap li strong{width: 100%; margin-bottom: 10px; font-size: 16px;   }
	.join_form_wrap .join_tel input{width: 80px; }
	
	.join_terms h5{font-size: 19px; }
	.join_form_wrap .checkbox_box_wrap .join_all label{font-size: 17px; }
	.join_form_wrap .checkbox_box_wrap label{font-size: 15px; }
	.join_form_wrap .checkbox_box_wrap > div p{font-size: 15px; }
	.join_form_wrap .checkbox_box_wrap > div{padding: 15px 20px; }
	.join_form_wrap .checkbox_box_wrap > div a{font-size: 15px; }
	.pop-layer{width: 95%; }
	.dim-layer.join_pop1 .terms_title{width: 100%; box-sizing: border-box; }
	.join_form_wrap{padding-top: 20px; }
	.join_form_wrap li p{float: left; margin-top: 8px; }
	.join_terms{padding-top: 10px; }
	.unusual .table_list{overflow-x: scroll;}
	.unusual .content_wrap .table_wrap h2{font-size: 17px; }
	.unusual .content_wrap nav li{font-size: 18px; }
	
}

@media (max-width: 330px) {
	.main .sec3 ul li .cont{height: 305px; }
	.join_terms h5{font-size: 18px; }
}


.solution .content_wrap .clear_title {display: inline-block; width: 100%; }
.solution .content_wrap .clear_title > h2{float: left;     width: 520px;
    padding-right: 50px;  margin-right: 20px; }
.solution .content_wrap .clear_title > h3{float: left;color: #d5d6d8;
    font-size: 25px;  }
    
    
   
    
    
    .overview .cont_title_wrap .cont_title  > div, .usecases .cont_title_wrap .cont_title  > div, .solution .cont_title_wrap .cont_title  > div, 
    .intelligence .cont_title_wrap .cont_title  > div, .dashboard .cont_title_wrap .cont_title  > div {display: table; width: 100%; }
    
    
    
     .overview .cont_title_wrap .cont_title h2, .usecases .cont_title_wrap .cont_title h2, .solution .cont_title_wrap .cont_title h2, 
    .intelligence .cont_title_wrap .cont_title h2, .dashboard .cont_title_wrap .cont_title h2 { height: 160px; display: table-cell; 	
vertical-align: middle; width: 100%;  }
.dashboard .cont_title_wrap .cont_title h2 span{ color:#fff; font-size: 30px; }
    
    
    .check ul .list_wrap span.deal{font-size: 15px; margin-top: -4px; }


.tracking .search_bar {width: 100%; display: inline-block; margin-top: 80px; max-width: 1200px;  }
.tracking .search_bar input { float: left;  }

.tracking .search_bar > input { background: #fff; height: 40px; padding: 10px; box-sizing: border-box; font-size: 16px; border: 1px solid #ccc; margin-right: 10px;  }

.tracking .search_bar  div input[type="text"]{ float: left; border: none; width: calc(100% - 350px); background: #fff; height: 40px;  padding: 10px;
 box-sizing: border-box; font-size: 16px; border: 1px solid #ccc;   }
.tracking .search_bar  div input[type="submit"]{ float: left; background:#fcba1e url("../img/search_btn.png") center center no-repeat; width: 40px; height: 40px; 
border: none; cursor: pointer; }


.tems_wrap{width: 1020px; margin: auto; padding: 100px 0; line-height: 1.5;}

.web_img{ display: block; }
.mo_img{ display: none; }



.monit .cont_title_wrap .cont_title h2 span{ color:#fff; font-size: 21px; }
.monit .cont_title_wrap{background: #fff; }

.monit .search_bar h4:BEFORE{ content: " "; width: 3px; height: 18px; display: inline-block; background: black; float: left; margin-right: 14px; margin-top: 2px;  }
.monit .search_bar h4{font-size: 20px; text-align: left; float: left; padding: 9px 0;  }
.monit .search{float: left; margin-left: 20px; width: calc(100% - 200px);; }
.monit .search_bar div input[type="text"] {    width: calc(100% - 80px);   }
.monit .content_wrap{max-width: 1150px; }

.monit h2.title {
    display: inline-block;
    vertical-align: top;
	font-size:20px; margin-top:0px;
    width: 100px;
}

.monit .score_wrap {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.monit .score_wrap .score_box {
    display: inline-block;
    vertical-align: top;
    width: calc(16.66% - 10px);
    /* background-color: yellow; */
    padding-bottom: 10px;
    margin-right: 9px;
    text-align: center;
    background-color: #f2f2f2;
}

.monit .score_wrap .score_box h3 {
    border-bottom: solid 1px #000000;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #300d4f; color:#fff;
}


.monit_table table{width: 100%; }
.monit_table table th{text-align: center;     background-color: #300d4f;
    border: solid 1px #300d4f; padding: 10px 0;  margin-bottom: 6px; color: #ffffff;  font-size: 17px; }
.monit_table table td{text-align: center; display: table-cell;
    vertical-align: top;    padding-bottom: 10px;
    margin-left: 0;
	border:none;
    text-align: center;
    border: solid 1px #b4b9d3; }

.monit .search_bar div input[type="submit"] {background: #fcba1e; color:#fff; font-weight: bold; font-size: 17px; width: 80px;    }

.ip_pop .terms h3{line-height: 1.5; text-align: center; margin-top: 15px; font-size: 18px;  }
.ip_pop .terms img{width: 150px; }
.ip_pop .pop-layer .terms{text-align: center; }

.ip_pop .pop-layer{height: 380px; }

.ip_pop .terms_wrap{padding-bottom: 20px; }


